---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23:tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJnTxQAAAAAAU%2BRircu8DEj49Tlhbesv5vKYY1w%3DnCIDW3ZTCk6bEN2Q4FdruTgvaZ6xUoHhKbQpHTqmsdShLFr5lY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 06 Nov 2016 16:24:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - fa0fec86f6f493528b1dc198b2e58a15
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '449'
      X-Rate-Limit-Reset:
      - '1478450385'
      X-Response-Time:
      - '174'
      X-Transaction:
      - 0092df7c0068784e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Nov 06 16:24:22 +0000 2016","id":795300803842048000,"id_str":"795300803842048000","text":"RT
        @treatyouzayn: Se estao participando da uni\u00e3o directioners e Beliebers
        VOTEM NA ONED TBM MAS NAO COLOQUEM AS DUAS TAGS  #EMABiggestFansJ\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"treatyouzayn","name":"Lia
        \u2606","id":4195658775,"id_str":"4195658775","indices":[3,16]}],"urls":[]},"metadata":{"iso_language_code":"pt","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":795284528692678657,"id_str":"795284528692678657","name":"Votandonobieber","screen_name":"votandonobiebr","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":3,"listed_count":0,"created_at":"Sun
        Nov 06 15:19:42 +0000 2016","favourites_count":5,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":283,"lang":"pt","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Nov 06 16:20:37 +0000 2016","id":795299862766092288,"id_str":"795299862766092288","text":"Se
        estao participando da uni\u00e3o directioners e Beliebers VOTEM NA ONED TBM
        MAS NAO COLOQUEM AS DUAS TAGS  #EMABiggestFansJustinBieber","truncated":false,"entities":{"hashtags":[{"text":"EMABiggestFansJustinBieber","indices":[105,132]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"pt","result_type":"recent"},"source":"\u003ca
     [...]
