---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJrbxQAAAAAAvHij7YJF1CzRHJ2OsD6touWHhko%3DwJw6AF29nhXTSFyc84354rnRqpcI8pmA7JlyALsxq510S5gqJq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 07 Nov 2016 01:39:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 7880aa6c9fac351728eb7ad6c6dd7078
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '441'
      X-Rate-Limit-Reset:
      - '1478483267'
      X-Response-Time:
      - '73'
      X-Transaction:
      - 00f1df120046d3d5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon Nov 07 01:39:09 +0000 2016","id":795440419492401152,"id_str":"795440419492401152","text":"Check
        out this #food campaign! ''Sea''ds Coconut Bar'' https:\/\/t.co\/7bPTAFUB8J
        #Sydney","truncated":false,"entities":{"hashtags":[{"text":"food","indices":[15,20]},{"text":"Sydney","indices":[76,83]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/7bPTAFUB8J","expanded_url":"https:\/\/www.kickstarter.com\/projects\/13663399\/seads-coconut-bar","display_url":"kickstarter.com\/projects\/13663\u2026","indices":[52,75]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/TheCrowdfundingCentre.com\" rel=\"nofollow\"\u003eTheCrowdfundingCentre.com
        News\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":23920722,"id_str":"23920722","name":"Crowdfunding
        Center","screen_name":"CrowdCBoost","location":"","description":"Up to the
        minute crowdfunding notifications - follow @CrowdfundCentre for all the latest
        campaigns information","url":"http:\/\/t.co\/CCxcKij2ZV","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CCxcKij2ZV","expanded_url":"http:\/\/TheCrowdfundingCentre.com","display_url":"TheCrowdfundingCentre.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":5339,"friends_count":6,"listed_count":988,"created_at":"Thu
        Mar 12 08:27:21 +0000 2009","favourites_count":846,"utc_offset":0,"time_zone":"Casablanca","geo_enabled":false,"verified":false,"statuses_count":220128,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/651522468658741248\/L6tZsCWs_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/651522468658741248\/L6tZsCWs_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/23920722\/1460069571","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Nov 07 01:39:09 +0000 2016","id":795440418754359296,"id_str":"795440418754359296","text":"RT
        @CulturallyDeMag: local perspectives ...\n\nAgnolotti di Lidia\nRistobar\nSan
        Francisco\n\n#marin #sanfrancisco #food #wine #travel https:\/\/t.\u2026","truncated":false,"entities":{"hashtags":[{"text":"marin","indices":[88,94]},{"text":"sanfrancisco","indices":[95,108]},{"text":"food","indices":[109,114]},{"text":"wine","indices":[115,120]},{[...]
